/*

--- 01 TYPOGRAPHY SYSTEM ---

- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  (“normal” text between 16px and 32px. Long text 20px+)

  Default: 10px (1rem)

- Font family:

- Font weights

- Line heights (Normal-sized text between 1.5 and 2. Big text below 1.5)

- Letter Spacing

--- 02 COLORS ---

- Primary: #e67e22

- Tints: #fdf2e9, #eb984e
- Shades: #cf711f, #45260a
- Accents: #51cf66, #94d82d, #ffd43b
- Greys: #333, #555

--- 03 IMAGES ---

See `img` folder (app, customers, gallery, logos, meals, favicon, hero, omnifood-logo)

--- 04 ICONS ---

--- 05 SHADOWS ---

--- 06 BORDER RADIUS ---

--- 07 WHITESPACE ---

- SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/******** GENERAL STYLES ********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
}

:focus {
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.5px;
  color: #333;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #cf711f;
  letter-spacing: 0.75px;
  padding-bottom: 2rem;
}

/************ LAYOUT ************/

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-col {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.margin-bottom-md {
  margin-bottom: 4.6rem;
}

/********** COMPONENETS **********/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn-fill:link,
.btn-fill:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-fill:hover,
.btn-fill:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: inherit;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
