/* BELOW 1345px (Smaller desktops) */

@media (max-width: 84em) {
  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .testimonials-column {
    padding: 4.8rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
  }
}

/* BELOW 1201px (Landscape tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 8rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .pricing-card--complete::after {
    top: 30px;
    right: -55px;
  }
}

/* BELOW 960px (Tablets) */

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-btn-box,
  .delivered-box {
    justify-content: center;
  }

  .delivered-box {
    margin-top: 4.8rem;
  }

  .hero-img {
    width: 60%;
  }

  .featured-logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery-box {
    grid-template-columns: repeat(6, 1fr);
  }

  .testimonials {
    column-gap: 9.6rem;
  }

  .pricing-card {
    padding: 4.8rem 3.2rem;
  }

  .pricing-card--complete::after {
    top: 25px;
    right: -50px;
  }

  .cta-box {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-btn {
    margin-top: 1.6rem;
  }

  .nav-list-mobile {
    display: block;
    z-index: 9999;
  }

  .nav-icon-mobile[name="menu-outline"] {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
    font-size: 3.6rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .nav-open .main-nav-list {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .nav-icon-mobile[name="menu-outline"] {
    display: none;
  }

  .nav-open .nav-icon-mobile[name="close-outline"] {
    display: block;
  }
}

/* BELOW 704px (Smaller tablets) */

@media (max-width: 44em) {
  .featured-logos img {
    height: 2rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diet-list {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-box {
    column-gap: 1.6rem;
  }

  .footer-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* BELOW 560px (Phones) */

@media (max-width: 35em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 3.2rem 6.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .featured-logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(3.2rem);
  }

  .testimonials-column {
    text-align: center;
  }

  .gallery-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .pricing-card--starter,
  .pricing-card--complete {
    justify-self: center;
  }

  .plan-details {
    margin-bottom: 4.8rem;
  }

  .features-box {
    text-align: center;
    margin-bottom: 0;
  }

  .cta-box {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 48rem;
    grid-row: 1;
  }

  .cta-content {
    padding: 3.2rem;
  }

  .section-testimonials {
    padding-bottom: 4.8rem;
  }

  .section-cta {
    padding-bottom: 9.6rem;
  }

  .footer {
    padding-top: 9.6rem;
  }

  .section-how,
  .section-meals,
  .section-pricing {
    padding: 4.8rem;
  }
}
/*
- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
