/*********** NAVIGATION SECTION ***********/

.section-navigation {
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/************** HERO SECTION **************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 4.8rem 9.6rem;
}

.hero {
  max-width: 123.6rem;
  margin: 0 auto;
  column-gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btn-box {
  gap: 1.8rem;
}

.delivered-box {
  margin-top: 8rem;
  gap: 1.6rem;
}

.delivered-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-img:not(:last-child) {
  margin-right: -16px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

/************** FEATURED SECTION **************/

.section-featured {
  padding: 4.8rem 0 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

.featured-box {
  padding: 0 7.5rem;
}

.featured-text {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.featured-imgs-box {
  justify-content: space-between;
}

.featured-img {
  height: 3.2rem;
}

/************** HOW SECTION **************/

.section-how {
  padding: 9.6rem 0;
}

.how-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.how-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-img-box {
  justify-content: center;
  position: relative;
}

.how-img-box::before {
  content: "";
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.how-img-box::after {
  content: "";
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.how-img {
  width: 35%;
}

/************** MEALS SECTION **************/

.section-meals {
  padding: 9.6rem 0;
}

.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal-card:hover {
  transform: translateY(-1rem);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  color: #333;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  gap: 1.6rem;
}

.meal-attribute strong {
  font-weight: 500;
}

.meal-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.list {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  font-size: 1.8rem;
  gap: 1.6rem;
}

.diet-icon {
  font-size: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.recipes-link:link,
.recipes-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.recipes-link:hover,
.recipes-link:active {
  color: #cf711f;
  border: none;
}

/********** TESTIMONIAL SECTION **********/

.section-testimonials {
  grid-template-columns: 60% 40%;
  gap: 0;
  padding: 1.6rem;
  background-color: #fdf2e9;
}

.testimonials-column {
  padding: 9.6rem 9.6rem 0 8rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-size: 1.6rem;
}

.gallery-box {
  gap: 1.6rem;
}

.gallery-img-box {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  transition: all 0.3s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/************** PRICING SECTION **************/

.section-pricing {
  padding: 9.6rem 0;
}

.sub-card {
  padding: 4.8rem 6.4rem;
  border-radius: 9px;
  text-align: center;
  position: relative;
}

.card-1 {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.card-2 {
  justify-self: start;
  background-color: #fdf2e9;
  overflow: hidden;
}

.card-2::after {
  content: "BEST VALUE";
  position: absolute;
  top: 35px;
  right: -60px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 6.4rem;
  transform: rotate(45deg);
}

.sub-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #cf711f;
  margin-bottom: 3.2rem;
}

.sub-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2.4rem;
}

.sub-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 1rem;
}

.sub-text {
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.sub-details-list {
  font-size: 1.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.sub-list-item {
  gap: 1.6rem;
}

.sub-item-text span {
  font-weight: 500;
}

.strike-item {
  opacity: 0.5;
  text-decoration: line-through;
}

.sub-includes-text {
  margin: 4.8rem 0 9.6rem;
  font-size: 1.6rem;
  text-align: center;
}

.features-box {
  column-gap: 6rem;
}

.feature-icon {
  justify-content: center;
  background-color: #fdf2e9;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/************** CTA SECTION **************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-box :focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-content {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem;
}

.cta-content .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.6rem;
}

.cta-form {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 9px;
  font-family: inherit;
}

.cta-form input::placeholder {
  opacity: 0.3;
}

.cta-btn {
  background-color: #45260a;
  color: #fdf2e9;
  border: none;
  padding: 1.2rem;
  align-self: end;
}

.cta-img-box {
  background: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/img/eating.jpg") top center/cover;
}
