/******** NAVIGATION SECTION ********/

.section-navigation {
  background-color: #fdf2e9;
  padding: 4.8rem 4.8rem;
}

.nav {
  /* height: 9.6rem; */
  justify-content: space-between;
}

.nav-logo {
  width: 24rem;
}

.nav-link-list {
  list-style: none;
}

.nav-links {
  font-size: 2rem;
  gap: 3.2rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

/******** HERO SECTION ********/

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 4.8rem;
}

.hero-text-box {
  color: #555;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-box {
  gap: 2.4rem;
  margin-top: 8rem;
}

.delivered-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fdf2e9;
}

.delivered-img:not(:last-child) {
  margin-right: -8px;
}

.delivered-text {
  font-size: 1.8rem;
  color: #777;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 600;
}
