/*********** NAVIGATION SECTION ***********/

.section-navigation {
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/************** HERO SECTION **************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 4.8rem 9.6rem;
}

.hero {
  max-width: 123.6rem;
  margin: 0 auto;
  column-gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btn-box {
  gap: 1.8rem;
}

.delivered-box {
  margin-top: 8rem;
  gap: 1.6rem;
}

.delivered-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-img:not(:last-child) {
  margin-right: -16px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

/************** FEATURED SECTION **************/

.section-featured {
  padding: 4.8rem 0 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

.featured-box {
  padding: 0 7.5rem;
}

.featured-text {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.featured-imgs-box {
  justify-content: space-between;
}

.featured-img {
  height: 3.2rem;
}

/************** HOW SECTION **************/

.section-how {
  padding: 9.6rem 0;
}

.how-box {
  column-gap: 6.4rem;
}

.how-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.how-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-img-box {
  justify-content: center;
  position: relative;
}

.how-img-box::before {
  content: "";
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.how-img-box::after {
  content: "";
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.how-img {
  width: 35%;
}
